version: 2
# Define the jobs we want to run for this project
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: echo "this is the build job"
      - run: echo $SSH_CONFIG_DIR      
      - run: | 
          make
          ./main
      - run: ./main
      
# Orchestrate our job run sequence
workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - main
  build2:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - main                
